<div>
  <h1>My Team</h1>
  <div></div>
</div>
{% schema %}
  {
    "name": "My Team",
    "tag": "section",
    "class": "team-member-section",
    "settings": [
      {
        "id": "Section Title",
        "type": "text", //variable to refrence the code
        "label": "My Team" //what shows in the customizer
      }
    ]
  }
{% endschema %}